@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic);

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    padding-bottom: 1em;
    color: #404040;
}

h1, h2, h3 {
    font-weight: 300;
}
